<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - I Lis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ilis.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/images/logo_0.png" alt="Logotipo" class="mb-4" style="max-width: 35px;" />
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Item Perfil com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="perfilDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Recepção
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Pedidos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Lib. Cortesia / Ética Médica</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Preços / Preparo</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Registro de Orçamentos</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Consulta Geral</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Coletas Domiciliares</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Lancto. Part.</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Fechar Caixa</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Alterar p/ Nome Social</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Alterar Posto</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Prazo de Exames</a></li>
                                   
                                </ul>
                            </li>

                            <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdowEnvio de Materialn" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Transf. Materiais
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Lotes de Transferência</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Gera Transferência</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Envio de Material</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Recebimento Material</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Consulta Posto Base</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Consulta Lotes</a></li>

                                </ul>
                            </li>

                            <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Triagem
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Triagem</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Etiquetas Apoio</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Excluir Todas Etiquetas Dasa</a></li>

                                </ul>
                            </li>
                            <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Técnico
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Resultados</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Recoletas</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Res. Neg. em Lote</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Resultado NEG PPF Transf.</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Ver Layout</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Notificações</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Selecionar Responsável</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Log Responsáveis TM</a></li>
                                </ul>
                            </li>
                                                        <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Liberação de Laudos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Assinatura</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Laudos Assinados</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Cancelar Laudo</a></li>

                                </ul>
                            </li>
                            <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Emissão de Laudos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Lotes</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Gerar Lote</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Activity">Alt Sts Impressão</a></li>

                                </ul>
                            </li>
                             <!-- Item Configurações com submenu -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="configuracoesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Requisição de Materiais
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Requisição Material</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="EditProfile">Avaliações Críticas</a></li>

                                </ul>
                            </li>

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ilis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
