################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.config
/bin
/obj/Debug/net8.0/win-x64/PubTmp/