@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo_1.png" alt="Logotipo" class="mb-4" style="max-width: 400px;" />
    <h1 class="display-4">I. Lis - Bem Vindo</h1>
    
</div>
